/*REGOLE GENERALI*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #33475b;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.margin-left {
  margin-left: 2%;
}

.margin-right {
  margin-right: 2%;
}

.padding-left {
  padding-left: 2%;
}

.padding-right {
  padding-right: 2%;
}

.text-aling-r {
  text-align: right;
}

.w100-p0-10 {
  width: 100%;
  padding: 0 10%;
}

.w100-lin-h100 {
  width: 100%;
  line-height: 100px;
}
.w70 {
  width: 70%;
}
.w50 {
  width: 50%;
}

.w30 {
  width: 30%;
}

a {
  text-decoration: none;
}
.h800 {
  height: 1000px;
}

.h500 {
  height: 500px;
}

.h300 {
  height: 300px;
}

ul li {
  list-style: none;
}
/* /REGOLE GENERALI */

/* BOTTONI */
#log-in {
  color: #fe775a;
  background-color: #f5fafd;
}

.btn {
  display: inline-block;
  padding: 15px 10px;
  border-radius: 5px;
  line-height: 10px;
  text-decoration: none;
  border: 1px solid #fe775a;
}

.btn:hover {
  background-color: rgb(175, 153, 153);
}
.orange {
  color: #f5fafd;
  background-color: #fe775a;
}

.large {
  padding: 25px 35px;
}
/* /BOTTONI */

/* HEADER */
/* REGOLE SESSIONE FIXATA */
.nav-fix {
  position: fixed;
  top: 0;
  background-color: #f4f9fd;
  border-bottom: 2px solid #4a5f6f;
  margin-bottom: 200px;
  min-width: 1000px;
}

.linea-bordo {
  padding-right: 20px;
  border-right: 1px solid black;
}

.fa-search {
  color: #14a9c0;
}

.container-logo-barra {
  margin-top: 100px;
}
/* /REGOLE SESSIONE FIXATA */

.header {
  height: 1020px;
  border-bottom: 4px solid #4a5f6f;
}

.back-contain {
  height: 100%;
  padding: 0 10%;
  min-width: 1200px;
  background-image: url(img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.riga-verde {
  width: 100%;
  height: 70px;
  background-color: #afebe4;
  border-bottom: 4px solid #4a5f6f;
}

.back-contain .w50.h500 h1 {
  padding-top: 80px;
  font-size: 56px;
}

.back-contain .w50.h500 p {
  padding: 50px 0;
  font-size: 18px;
  line-height: 30px;
}

.back-contain .w50.h500 .small {
  font-size: 14px;
}
/* /HEADER */

/* MAIN */
/* SECTION PARTE 1 */
.section1 {
  background-color: #f4f9fd;
}

.cubo {
  height: 500px;
  text-align: center;
}

.cubo img {
  margin-top: 50px;
  height: 50%;
}

.cubo h1 {
  font-size: 32px;
  padding-bottom: 12px;
}

.cubo p,
span {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.riquadro {
  padding: 40px 100px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.34);
  margin-bottom: 60px;
  width: 100%;
}

.box1 {
  width: 33%;
}

.box1 img {
  width: 100%;
  margin-bottom: 35px;
}

.box2 {
  width: 58%;
}
.box2 p {
  padding: 30px 0;
  line-height: 30px;
}

.box2 h2 {
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 25px;
}

.riga-nera {
  display: inline-block;
  width: 55%;
  margin-bottom: 7px;
  border: 1px solid black;
}

.fa-check-circle {
  color: #fe785a;
}

/* DETTAGLI GRANDEZZA COLONNE*/
.colonna-sx,
.colonna-center,
.colonna-dx {
  width: 30%;
  height: max-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.34);
  text-align: center;
  margin-bottom: 70px;
  padding: 70px;
}

.colonna-center {
  margin: 0px 5%;
}
/* / DETTAGLI GRANDEZZA COLONNE*/

/* CONTENUTO COLONNE */
.colonna-sx img,
.colonna-center img,
.colonna-dx img {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

.colonna-sx h1,
.colonna-center h1,
.colonna-dx h1 {
  width: 100%;
  height: 10%;
  padding: 10px 0px;
}

.colonna-sx p,
.colonna-center p,
.colonna-dx p {
  height: 40%;
  font-size: 20px;
  padding: 20px 10px;
  border-bottom: 6px solid #8f999d;
  margin-bottom: 20px;
}

ul li {
  text-align: left;
}
.colonna-sx a,
.colonna-center a,
.colonna-dx a {
  margin-top: 20px;
}
/* / CONTENUTO COLONNE */
/* /SECTION PARTE 1 */

/* SECTION PARTE 2 */
.section2 {
  background-image: linear-gradient(to top right, #11a6bb, #18bba7);
  text-align: center;
  height: 800px;
}

.section2 .text {
  width: 100%;
  height: 250px;
}

.section2 .text h2 {
  padding: 31px 23px;
  color: white;
  font-size: 45px;
}

.section2 .text p {
  font-size: 19px;
  color: white;
}

/* TABELLA */
.row1 {
  width: 100%;
  margin-top: 30px;
}

.row1 span,
.number {
  color: white;
  padding: 19px 0;
}

.number {
  font-size: 70px;
}

.quadro img {
  padding-top: 10px;
  height: 63px;
}

.number::after {
  content: "+";
  font-size: 58px;
}
.row1 .quadro {
  text-align: center;
  width: calc(100% / 4);
}

.quadro.uno {
  border-right: 1px solid white;
}

.due {
  border-top: 1px solid white;
}
/* /SECTION PARTE 2
 */

/* SECTION PARTE 3 */

.section3 {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

.parte1 {
  width: 30%;
}

.parte1 h1 {
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.parte1 span {
  font-size: 20px;
  line-height: 46px;
}

.parte2 {
  width: 70%;
  margin-top: 30px;
}

.parte2 img {
  width: 20%;
  margin: auto;
  vertical-align: middle;
}
/*SECTION PARTE 3 */

/* SECTION PARTE 4 */
.section4 .parte-1 {
  width: 30%;
  margin-top: 7%;
  margin-bottom: 80px;
}
.section4 .parte-1 h1 {
  font-size: 37px;
}

.section4 .parte-1 p {
  padding: 60px 0px;
  line-height: 40px;
  font-size: 17px;
}
.section4 .parte-1 .small {
  font-size: 16px;
}
/* /SECTION PARTE 4 */
/* /MAIN */

/* FOOTER */
/* SECTION PARTE 1 */
footer {
  height: 800px;
  background-color: #32495b;
  color: white;
  padding-top: 20px;
}

.section5 .col-4 {
  width: 25%;
  padding-top: 5%;
}

.col-4 ul li a {
  font-size: 20px;
}
.col-4 ul li a,
h4 {
  color: white;
  line-height: 60px;
}

.col-4 h4 {
  font-size: 25px;
  padding-bottom: 20px;
}

.col-4 .btn-footer {
  display: inline-block;
  padding: 25px 40px;
  border-radius: 5px;
  line-height: 10px;
  text-decoration: none;
  color: #32495b;
  background-color: #d6dbde;
}

.col-4 i {
  color: #d6dbde;
  padding-right: 6%;
}

.col-4 a:hover {
  color: #00afac;
  font-size: 30px;
}

.section6 {
  text-align: center;
  padding: 0 10%;
  border-bottom: 3px solid #d6dbde;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.section6 a {
  padding-right: 2%;
  text-align: center;
  color: #d6dbde;
  font-size: 20px;
}

.section6 a:hover {
  color: #00afac;
}
.section7 {
  width: 100%;
}
.section7 .sx {
  width: 50%;
  color: #d6dbde;
  font-size: 16px;
}

.section7 .dx {
  width: 50%;
  text-align: right;
  font-size: 16px;
}

.section7 .dx a {
  color: #d6dbde;
  padding-left: 5%;
}

.section7 .dx a:hover {
  color: #00afac;
  font-size: 25px;
}
