/*REGOLE GENERALI*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #33475B;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.margin-left {
  margin-left: 2%;
}

.margin-right {
  margin-right: 2%;
}

.padding-left {
  padding-left: 2%;
}

.text-aling-r {
  text-align: right;
}

.w100-p0-10 {
  width: 100%;
  padding: 0 10%;
}

.w100-lin-h100 {
  width: 100%;
  line-height: 100px;
}

.w50 {
  width: 50%;
}

a {
  text-decoration: none;
}

/* /REGOLE GENERALI */

/* REGOLE SESSIONE FIXATA */
.nav-fix {
  position: fixed;
  top: 0;
  background-color: #f4f9fd;
  border-bottom: 2px solid #4a5f6f;
  margin-bottom: 200px;
  min-width: 1000px;
}

.linea-bordo{
  padding-right: 20px;
  border-right: 1px solid black;
}

.fa-search {
  color: #14a9c0;
}

/* BOTTONI */
#log-in {
  color: #fe775a;
  background-color: #f5fafd;
}

.btn {
  display: inline-block;
  padding: 15px 10px;
  border-radius: 5px;
  line-height: 10px;
  text-decoration: none;
  border: 1px solid #fe775a;
}

.orange {
  color: #f5fafd;
  background-color: #fe775a;
}

.large{
  padding: 25px 35px;
}
/* /BOTTONI */

.container-logo-barra {
  margin-top: 100px;
}
/* /REGOLE SESSIONE FIXATA */

.header{
  height: 810px;
  border-bottom: 4px solid #4a5f6f;
}

.back-contain{
  height: 100%;
  padding: 0 10%; 
  min-width: 1200px;
  background-image: url(img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.riga-verde{
  width: 100%;
  height: 50px;
  background-color: #AFEBE4;
  border-bottom: 4px solid #4a5f6f;
}

.back-contain .w50.h500 h1{
  padding-top: 80px;
  font-size: 56px;
}

.back-contain .w50.h500 p{
  padding: 50px 0;
  font-size: 18px;
  line-height: 30px;
}

.back-contain .w50.h500 .small{
  font-size: 14px;
}