* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserat', sans-serif;
  min-width: 1200px;
  font-size: 16px;
  color: #33475B;
}

.debug section,
.debug div {
  /*  background-color: rgba(238, 11, 11, .1);  */
}

/*-------------------
MIX 
--------------------*/
.container-70 {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
.container-60 {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.container-50 {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pt-50 {
  padding-top: 50px;
}

/* menu inline */
ul.list-inline li {
  display: inline-block;
  padding: 0 10px;
}
ul.list-inline li:first-child { 
  padding-left: 0;
}
ul.list-inline li:last-child { 
  padding-right: 0;
}
/* icone dropdown in position absolute */
ul.list-inline li a.dropdown {
  position: relative;
  padding-right: 30px;
}
ul.list-inline li a.dropdown .fa-chevron-down {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
ul.no-list{
  list-style: none;
}

/*-------------------
TYPO
--------------------*/
a {
  text-decoration: none;
}
.color-blue a {
  color: #32495b;
}
p {
  line-height: 180%;
}
p.small {
  font-size: 80%;
}
h2 {
  margin-bottom: 30px;
  font-size: 200%;
}
h3 {
  margin-bottom: 30px;
  font-size: 150%;
}
h4 {
  margin-bottom: 30px;
  font-size: 100%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
/* buttons */
.btn {
  display: inline-block;
  padding: 10px;
  border: 1px solid #fe785a;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}
.btn-orange {
  background-color: #fe785a;
  color: white;
}
.btn-orange.btn-big {
  padding: 20px 40px;
}
.btn-orange:hover {
  background-color: rgba(254, 120, 90, .8);
  color: white;
}
.btn-white {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fe785a;
}
.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-grey {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
  color: #32495b;
}
.btn-grey:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #32495b;
}

/* colors */
.bg-grey {
  background-color: #f4f9fd;
}

/*-------------------
HEADER 
--------------------*/

/* nav top */
#nav-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  min-width: 1200px;
  /* allineamento verticale con height e line-height */
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #32495b;
}
.nav-top-left {
  float: left;
  width: 30%;
  height: 100%;
}
.nav-top-right {
  float: right;
  width: 70%;
  height: 100%;
  text-align: right;
}
.nav-top-left .list-inline li:first-child a.border-right{
  position: relative;
  border-right: 2px solid #899397;
  padding-right: 40px;
}
.nav-top-left .list-inline li:first-child a.border-right .fa-chevron-down {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.nav-top-right a.ico-search {
  color: #00A4BD;
}

/* nav bottom */
.nav-bottom {
  height: 80px;
  margin-top: 80px;
  box-shadow: 0 0 5px rgba(50, 73, 91, 0.159);
}
.nav-bottom .logo {
  /* allineamento verticale con height e line-height */
  height: 80px;
  line-height: 80px;
  float: left;
}
.nav-bottom .logo img{
  /* allineamo le immagini */
  vertical-align: middle;
}
.nav-bottom .nav-bottom-right {
  float: right;
  /* allineamento verticale con height e line-height */
  line-height: 80px;
  text-align: right;
}

#jumbotron {
  position: relative;
  width: 100%;
  height: 695px;
  background-image: url('img/jumbotron.png');
  background-color: #FFF4EF;
  background-repeat: no-repeat;
  background-position: right top;
}
/* inseriamo la riga verde con un before 
lavoriamo con i position absolute
*/
#jumbotron:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
.jumbotron-text {
  width: 50%;
  margin-top: 60px;
}
.jumbotron-text h1 {
  margin-bottom: 30px;
  font-size: 50px;
}
.jumbotron-text p {
  margin-bottom: 30px;
}

/*-------------------
MAIN 
--------------------*/

/* INFO */
#powerful {
  padding: 50px 0;
}
#powerful img{
  width: 250px;
}

#free {
  padding: 6%;
}
#free .info-ico {
  width: 25%;
}

#free .info-text {
  width: 75%;
}

.white-box {
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 5px rgba(50, 73, 91, 0.2);
  border-radius: 5px;
}
.info-ico {
  text-align: center;
}
.info-ico img{
  margin-bottom: 20px;
  max-height: 100px;
}
.info-text {
  padding: 0 5%;
}
.info-text p {
  margin-bottom: 20px;
}
.info-text i {
  margin-right: 10px;
  color: #fe785a;
}
.info-features {
  width: 100%;
  font-size: 18px;
  /* line-height per centrare in altezza */
  line-height: 20px;
}
.info-features:before {
  content: '';
  display: block;
  float: right;
  width: 65%;
  height: 2px;
  /* line-height 20px - 2px = 18px */
  margin-top: 9px;
  background-color: #899397;
}

.col-3 {
  width: 30%;
}
.col-3:nth-child(2) {
  margin: 0 5%
}
.col-3 .info-features span,
.col-3 .info-features::before {
  width: 100%;
}
.col-3 .info-features::before {
  margin-bottom: 40px;
}
.col-3 .info-text p {
  min-height:150px;
}

/* LEARN */
#learn {
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  color: white;
}
.learn-table-row {
  width: 100%;
}
.learn-table-row:not(:last-child) {
  border-bottom: 1px solid white;
}
.learn-table-item {
  float: left;
  width: 25%;
  padding: 20px;
}
.learn-table-item:not(:last-child) { 
  border-right: 1px solid white;
}
.learn-table-item h3 {
  margin: 10px;
  font-size: 250%;
}
/* usiamo inline block e vertical align per centrare in altezza */
.learn-table-item h3:after {
  content: '+';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 60%;
  font-weight: normal;
  
}
.learn-table-item h3 span {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

/* customers */
/* l'altezza di customers è data dal contenuto testuale 
quindi non abbiamo bisogno di un'altezza fissa per il position absolute
*/
#customers h2 {
  font-size: 300%;
}
.customers-container {
  position: relative;
}
/* box allineato in verticale con position absolute */
.customers-logos-list {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 60%;
}
.customers-logos-list li {
  width: 24%;
  margin-bottom: 30px;
}
/* immagini allineate con vertical align */
.customers-logos-list li img {
  max-width: 100%;
  max-height: 40px;
  vertical-align: middle;
}

/* start */
.start-text{
  width: 40%;
}
.start-img {
  width: 60%;
  text-align: right;
}
.start-text h2,
.start-text p {
  margin-top: 40px;
}
.start-img img{
  max-width: 45%;
}

/*-------------------
FOOTER 
--------------------*/
footer {
  background-color: #32495b;
  color: white;
}
footer h3 {
  font-size: 100%;
}
footer a {
  color: #cbd6e2;
}
footer a:hover,
footer a:active,
footer a:focus {
  color: #7fd1de;
}
footer ul.no-list li{
  margin-bottom: 20px;
}
.footer-first,
.footer-third {
  width: 100%;
  padding: 40px 0;
}
.col-4 {
  width: 25%;
}
.footer-second {
  padding-bottom: 20px;
  border-bottom: 1px solid #cbd6e2;
}